$color-primary: #1abc9c;
$color-primary-dark: #17a68a;

$color-green: #8bc34a;

$color-gold-logo: #eeff2f;

$color-grey-bg: #f2f2f2;

$color-dark: #3a464b;
$color-dark-light: #414e53;

$color-grey-hover: #e8e9eb;
$color-grey-dark: #777;

$color-white: #fff;
$color-white-bg: #f7f9fa;

$color-black: #000;
$color-black-text: #555;

$default-font-size: 1.6rem;

$bp-largest: 64em; // 1024/16 = 64
$bp-large: 48em; // 768
$bp-large-1: 47em; // 768
$bp-medium: 26.57em; // 425
$bp-small: 23.5em; // 375
$bp-smallest: 20em; // 320
