.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.heading-teriary {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
