.descourse {
  background-color: $color-grey-bg;
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  justify-content: center;

  &__spinner {
    height: 300px;
  }

  & .text-success {
    color: $color-primary !important;
  }
  &__content {
    width: 100rem;
    margin: 0 auto;
    display: flex;
  }

  &__left {
    flex: 1;
    padding-right: 3rem;
  }

  &__leadcourse {
    padding: 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &-text {
      & h1 {
        font-weight: bold;
        padding-bottom: 0.8rem;
      }

      & h3 {
        font-size: 1.9rem;
        padding: 0.3rem 0;
      }
    }
  }

  // card
  &__card {
    padding: 2.5rem;
    width: 30rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: fit-content;

    &-content-img {
      text-align: center;
      border: 1px solid #f2f3f5;
      background-color: #f2f3f5;
    }

    &-img {
      width: 245px;
      height: 150px;
      object-fit: cover;
    }
  }

  &__btn {
    padding-top: 5rem;

    margin: 0 auto;
    width: 24rem;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-addcart {
      padding: 1.5rem 0;
      margin-bottom: 3rem;
      border-radius: 2px;
      font-weight: bold;
      border: none;
      color: white;
      background-color: $color-primary;
      transition: all 0.3s;

      &:hover {
        background-color: $color-primary-dark;
      }
    }

    &-sub {
      border-radius: 2px;
      padding: 1.5rem 0;
      font-weight: bold;
      color: #7f8082;
      border: 1px solid #7f8082;
      background-color: #fff;
      transition: all 0.3s;

      &:hover {
        color: black;
        border: 1px solid black;
      }
    }

    &-entercourse {
      padding: 1.5rem 0;
      margin-bottom: 3rem;
      border-radius: 2px;
      font-weight: bold;
      border: none;
      color: white;
      background-color: #1abc9c;
      transition: all 0.3s;
      text-align: center;

      &:hover {
        text-decoration: none;
        color: white;
        background-color: $color-primary-dark;
      }
    }
  }

  &__lessoncourse {
    padding: 3rem;
    margin: 3rem 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &--title {
      margin-bottom: 1.5rem;
      & p {
        color: #3a464b;
        font-size: 1.9rem;
        font-weight: bold;

        & span {
          color: $color-primary;
        }
      }
    }

    &--module {
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
      margin-bottom: 15px;

      & p {
        font-weight: bold;
        color: #3a464b;
        font-size: 1.5em;
        margin-bottom: 0;
      }
    }

    &--lesson {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      cursor: pointer;
      border-bottom: 1px solid #f0f0f0;
      transition: all 0.3s;

      &--left {
        font-size: 1.4rem;
        font-weight: bold;

        & span:first-child {
          padding-right: 5px;
          border-right: 1px solid #f0f0f0;
        }

        & span:last-child {
          padding-left: 10px;
        }
      }
      &:hover {
        color: $color-primary;
      }
      & p {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}

.progress__course {
  font-size: 19px;
  font-weight: bold;
  padding: 20px 0;
}
