.mycourse {
  background-color: $color-grey-bg;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__content {
    margin: 0 auto;
    padding: 3rem;
    width: 100rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    & h1 {
      color: #555;
      font-size: 2.5rem;
      font-weight: bold;
      padding-bottom: 2.5rem;
    }
  }

  &__nav-filter {
    display: flex;
    justify-content: space-between;
  }

  &__filter-label {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
  }

  &__select {
    padding: 5px;
    border: 1px solid #dedede;
    font-size: 1.5rem;

    & option {
      padding: 0.3rem 0;
    }
  }

  //search
  &__search {
    display: flex;

    &-input {
      padding: 8px 25px 9px 9px;
      border: 1px solid #dedede;
      border-right: none;
      outline: none;
      float: right;
      width: 290px;
      font-size: 1.5rem;
    }

    &-button {
      height: 43px;
      width: 50px;
      background-color: #1abc9c;
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: white;
    }
  }

  // container
  &__container {
    & p {
      font-size: 1.8rem;
      border-top: 1px solid #dedede;
      margin-top: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid #f2f3f5;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-hover;
    }

    &-title {
      font-size: 2.1rem;
      color: black;
      font-weight: bold;
    }

    &-img {
      width: 210px;
      height: 120px;
      object-fit: cover;
    }

    &-text {
      flex: 0 0 50%;
      color: #686f7a;
      font-size: 1.4rem;
    }
  }

  // btn

  &__btn {
    display: flex;
    flex-direction: column;
  }

  &__enter {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: $color-primary;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $color-primary-dark;
      color: #fff;
      text-decoration: none;
    }
  }

  &__delete {
    color: #d62d20;
    border: none;
    background-color: rgba(255, 55, 0, 0);
    font-size: 1.35rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0.5rem;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(255, 55, 0, 0.2);
    }
  }
}
